html {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

.scrolloff {
  pointer-events: none;
}

body {
  color: #4e4e4e;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
  position: relative;
  -webkit-font-smoothing: antialiased;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
a {
  color: #000;
  font-weight: 600;
}
.modal-content a {
  color: #ccc;
}
a:focus {
  outline: none;
}
a:hover {
  text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  letter-spacing: 2.3px;
}

p {
  margin: 0 0 30px;
}

ul li {
  font-weight: 700;
  margin-bottom: 10px;
}

.custom-list-icon,
.list-arrow-right {
  list-style-type: none;
  padding: 0;
}

.custom-list-icon li,
.list-arrow-right li {
  position: relative;
  padding-left: 20px;
}

.custom-list-icon li::before,
.list-arrow-right li::before {
  position: absolute;
  left: 0;
  color: #4e4e4e;
  font-family: "Ionicons";
}

.social-block {
  list-style-type: none;
  padding: 0;
}

.social-block li {
  display: inline-block;
}

.social-block li a {
  display: inline-block;
  height: 32px;
  width: 32px;
  color: #fff;
}

.social-block li a i {
  font-size: 1.5em;
}

.social-block li a img {
  width: 23px;
  vertical-align: top;
}

.social-block li a:hover,
.social-block li a:focus {
  color: #93b0dc;
}

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
  outline: none;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.btn {
  border: 0;
  border-radius: 0;
  padding: 6px 28px;
  text-transform: uppercase;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-property: -webkit-transform;
          transition-property: transform;
}

.form-control {
  border-radius: 0;
  box-shadow: none;
  height: 48px;
  padding: 10px 12px;
  font-size: 16px;
  line-height: 1.6;
}

.form-control:focus {
  box-shadow: none;
  border-color: #ccc;
  background-color: #f8f8f8;
}

.valign-center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
          align-items: center;
}

.section {
  padding: 80px 0;
}

.section-title {
  color: #2a4066;
  letter-spacing: 1px;
  margin: 0 0 20px;
  text-transform: uppercase;
  border-bottom: 3px solid #2a4066;
  padding: 10px 0;
}

.section-title span {
  text-transform: lowercase;
}

/* 3.0 Helper Class */

/* 3.1 Helper Class: font-weight */

.font-300 {
  font-weight: 300;
}

.font-400 {
  font-weight: 400;
}

.font-700 {
  font-weight: 700;
}

/* 3.2 Helper Class: margin */

.mt0 {
  margin-top: 0;
}

.mb0 {
  margin-bottom: 0;
}

.mt20 {
  margin-top: 20px;
}

.mt60 {
  margin-top: 60px;
}

/* 3.3 Helper Class: list */

.list-arrow-right li::before {
  content: "\f3d3";
}

/* 3.4 Helper Class: button */

.btn-white {
  color: #000;
  background-color: #fff;
  border: 1px solid transparent;
}

.btn-blue {
  color: #fff;
  background-color: #93b0dc;
  border: 1px solid transparent;
}

.btn-blue:hover {
  color: #fff;
  font-weight: 600;
  background-color: #93b0cc;
}

.btn-white:hover {
  color: #fff;
  background: #000;
  border: 1px solid #fff;
}

.btn-black {
  color: #fff;
  background-color: #000;
  width: 100%;
  border: 1px solid transparent;
}

.btn-black:hover,
.btn-black:focus {
  color: #000;
  background-color: #fff;
  border: 1px solid #000;
}

.black {
  color: #000 !important;
}

/* 3.5 Helper Class: background */

.bg-image,
.bg-image-1,
.bg-image-2 {
  position: relative;
}

.bg-image::before,
.bg-image-1::before,
.bg-image-2::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.bg-image-1 {
  background: url(/assets/images/backgrounds/bg-1.jpg) no-repeat center center/cover;
}

.bg-image-1::before {
  background-color: rgba(0, 0, 0, 0.7);
}

.bg-image-2 {
  background: url(/assets/images/backgrounds/bg-2.jpg) no-repeat center bottom/cover;
}

.bg-image-2::before {
  background-color: rgba(0, 0, 0, 0.7);
}

/* 4.0 Navigation */

.navbar-custom {
  border: 0;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #000;
  -webkit-transition: all 0.5s linear 0s;
          transition: all 0.5s linear 0s;
}

@media (min-width: 768px) {
  .navbar-custom .site-branding .logo img {
    width: 159px;
  }
}

.navbar-nav {
  margin-top: 22px;
}

.navbar-custom .navbar-nav li {
  margin: 0;
}

.navbar-custom .navbar-nav>li>a {
  color: #93b0dc;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  border-bottom: 1px solid transparent;
}

.navbar-custom .navbar-nav>li>a:focus, .navbar-custom .navbar-nav>li>a:hover {
  background-color: transparent;
  border-color: rgba(255, 255, 255, 0.5);
}

.navbar-custom .navbar-nav>.active>a {
  border-color: rgb(255, 255, 255);
}

.navbar-toggle {
  border: 0;
  border-radius: 0;
  margin-top: 21px;
}

.navbar-toggle .icon-bar {
  background-color: #fff;
}

@media (min-width: 768px) {
  .navbar-solid {
    background-color: #000 !important;
    padding: 0 !important;
    -webkit-transition: all 0.5s linear 0s;
            transition: all 0.5s linear 0s;
  }
}

.site-branding {
  float: left;
  margin-top: 0;
  margin-left: 10px;
}

.site-branding .logo {
  color: #93b0dc;
  font-size: 17px;
  font-weight: 700;
  margin-right: 5px;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding-bottom: 5px;
}

.site-branding .logo img,
.navbar-custom.navbar-solid .site-branding .logo img {
  width: 80px;
  -webkit-transition: width 0.5s ease-in-out;
          transition: width 0.5s ease-in-out;
}

.site-branding .logo span {
  padding-left: 10px;
  font-size: 14px;
  -webkit-transition: all 0.5s linear 0s;
          transition: all 0.5s linear 0s;
}

.navbar-solid .site-branding .logo span {
  -webkit-transition: all 0.5s linear 0s;
          transition: all 0.5s linear 0s;
}

.site-branding .logo:focus, .site-branding .logo:hover {
  text-decoration: none;
}

/* 5.0 Site Header */

.site-header {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  position: relative;
  text-align: center;
  background: url(/assets/images/backgrounds/detroit.jpg) no-repeat center center/cover;
  background-color: #000;
}

.site-header::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.site-header .intro {
  color: #fff;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  z-index: 1;
  padding: 0 15px;
}

.site-header .intro h2 {
  margin-top: 0px;
  font-size: 25px;
  font-weight: 300;
}

.site-header .intro h1 {
  margin-top: 0px;
  font-size: 30px;
  color: #93b0dc;
}

.site-header .intro p {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 300;
}

@media (min-width: 768px) {
  .navbar-custom {
    background-color: transparent;
    padding-top: 30px;
  }
  .site-branding {
    margin-top: 6px;
    margin-left: 0;
    margin-bottom: 6px;
  }
}

/* 6.0 Section */

/* 6.1 Section: About */

.about figure {
  margin-bottom: 25px;
}

/* 6.2 Section: Facts */

.facts {
  padding: 100px 0;
}

.facts i {
  color: #fff;
  font-size: 3em;
}

.facts h3 {
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
}

/* 6.3 Section: Speaker */

.speaker {
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  margin: 25px 0;
  padding: 1px 12px 0 12px;
  background-color: #2a4066;
  border-radius: 4px;
}

.inmodal .speaker {
  margin-top: 10px;
  background-color: transparent;
  padding: 0;
  border-radius: 0;
}

.speaker figure {
  cursor: pointer;
}

.speaker h4 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.speaker p {
  margin-bottom: 5px;
  margin-top: 5px;
}
.speaker img:hover {
  opacity: .7;
}

/* 6.4 Section: Registration & Pricing */

.registration {
  background-color: #f8f8f8;
}

/* 6.5 Section: Contribution */

.contribution {
  text-align: center;
  color: #fff;
  padding: 50px 0;
}

.modal-content {
  border-radius: 0;
}

.modal-content p {
  font-size: 14px;
}

table, th, td {
  border: 1px solid #ededed;
  border-collapse: collapse;
  color: #000;
}

th {
  padding-left: 15px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2.3px;
}

th, td {
  text-align: left;
  vertical-align: middle;
}

td {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  font-weight: 400;
}

@media (min-width: 768px) {
  th {
    padding-left: 45px;
  }
  td {
    padding-left: 60px;
  }
}

/* 6.6 Section: Schedule */

.outer-tabs {
  background-color: #fbfbfb;
  border: 1px solid #ddd;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover,
.nav-tabs>li>a:focus,
.nav-tabs>li>a:hover {
  color: #FFF;
  cursor: pointer;
  background-color: #000;
  border-color: #000;
  border-bottom-color: transparent;
}

.nav-tabs>li {
  width: 33.3333333333%;
}

.nav-tabs>li>a {
  border-radius: 0;
  text-transform: uppercase;
  text-align: center;
  border: 1px solid #ededed;
  margin-right: 0;
  padding: 15px;
  background-color: #f5f5f5;
  transition: all 0.2s ease-in-out;
  min-height: 100px;
}

.inner-tabs .nav-tabs>li>a {
  border-color: transparent;
  border-bottom-color: #ededed;
  background-color: #fbfbfb;
}

.inner-tabs .nav-tabs>li.active>a,
.inner-tabs .nav-tabs>li.active>a:focus,
.inner-tabs .nav-tabs>li.active>a:hover,
.inner-tabs .nav-tabs>li>a:focus,
.inner-tabs .nav-tabs>li>a:hover,
.inner-tabs .nav-tabs>li>a:active {
  border-color: transparent;
  border-bottom-color: #000;
  background-color: inherit;
  color: #000;
}

.full-width {
  width: 100%;
  position: relative;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 1px;
}

.collapsed>.full-width:after {
  -ms-transform: rotate(180deg);
  /* IE 9 */
  -webkit-transform: rotate(180deg);
  /* Chrome, Safari, Opera */
  transform: rotate(180deg);
}

.panel {
  background-color: transparent;
}

.panel-default>.panel-heading {
  color: #000;
  background-color: transparent;
  border-color: transparent;
  border-bottom-color: #ddd;
}

.panel-default {
  border-color: transparent;
}

.schedule .panel-group {
  padding: 0 60px;
}

.panel-group .panel {
  border-radius: 0;
}

.thum-s {
  margin-right: 5px;
}

.time {
  font-size: 16px;
  letter-spacing: .4px;
  text-transform: uppercase;
  font-weight: 700;
}

.schedule_item {
  border: 1px solid #D8D8D8;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 200px;
}

.schedule_item .panel-body {
  padding: 0;
}

.schedule_item.session {
  background-color: #fff;
}

.schedule_item.break {
  background-color: #93b0dc;
}

.schedule_item.keynote {
  background-color: orange;
}

.session-name {
  cursor: pointer;
  text-decoration: underline;
}

.session-name:hover {
  opacity: .7;
}

.panel-body {
  margin-bottom: 20px;
}

/* 6.7 Section: Schedule */

.schedule-box {
  position: relative;
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 50px 0;
  margin: 25px 0 0;
}

.schedule-box::before {
  content: '';
  position: absolute;
  top: 5px;
  right: 5px;
  bottom: 5px;
  left: 5px;
  border: 1px solid #fff;
}

/* 6.9 Section: photos */

.classic-button {
  border: 1px solid #fff;
  color: #fff;
  background-color: transparent;
  text-transform: uppercase;
}

.grid {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.grid::after {
  content: '';
  display: block;
  clear: both;
}

.grid-item {
  float: left;
  overflow: hidden;
  padding: 3px;
  margin: 0;
  width: 100%;
  position: relative;
}

.grid-item:hover .photo-overlay {
  margin-top: 0;
}

.photo-overlay {
  margin-top: -100%;
  transition: all 0.4s ease-in-out;
  padding-top: calc(50% - 170px);
  vertical-align: middle;
  color: #fff;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.nivo-lightbox-theme-default .nivo-lightbox-nav:hover {
  background-color: transparent;
}

.nivo-lightbox-image:hover {
  cursor: zoom-out;
}

.photo-overlay h2 {
  text-transform: uppercase;
}

.classic-button:hover {
  background-color: transparent;
  color: #fff;
}

li.grid-item {
  position: relative;
}

@media (min-width: 768px) {
  .grid-item-sm-6 {
    width: 50%;
  }
  .grid-item-sm-3 {
    width: 25%;
  }
  figure {
    margin-bottom: 0;
  }
}

@media (min-width: 992px) {
  .schedule-box {
    margin: 0;
  }
  .grid-item-md-6 {
    width: 50%;
  }
  .grid-item-md-3 {
    width: 25%;
  }
}

address {
  color: #000;
  font-weight: 400;
}

/* 7.0 Site-footer */

.site-footer {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 30px 0 10px;
}

.site-footer .site-info {
  font-weight: 400;
  margin-bottom: 10px;
  letter-spacing: 2.3px;
}

.site-footer .site-info a {
  cursor: pointer;
  color: #fff;
}

.site-footer .social-block li a {
  color: #fff;
}

.site-footer .social-block li a:hover,
.site-footer .social-block li a:focus {
  opacity: 0.8;
}

.site-footer #mc_embed_signup form {
  padding-bottom: 50px;
}

/* Submisson form */

#submission section {
  text-align: left;
  padding: 0 50px 50px;
}

#submission p {
  color: #000;
}

#submission .btn-black {
  padding: 14px 28px
}

.pdf {
  margin: 0;
  padding: 0;
}

.pdf span {
  font-size: 50px;
}

.input-group-addon {
  background-color: #000;
  color: #fff;
  font-weight: 400;
  border-radius: 0;
}

/* Sponsorship */

.sponsors {
  text-align: center;
}

.sponsors .row {
  padding-bottom: 30px;
}

.sponsors img {
  margin: 10px 0;
}

.sponsors .platinum img {
  width: 50%;
}

.sponsors .gold img {
  width: 80%;
}

.sponsors .silver img {
  width: 60%;
}

.sponsors .bronze img {
  width: 60%;
}

.sponsors .community img {
  width: 45%;
}

.sponsors .inkind img {
  width: 32%;
}

.sponsor-caption {
  background-color: #000;
  font-size: 16px;
  color: #fff;
  text-transform: uppercase;
  padding: 15px;
  margin-top: 0;
}

/* Countdown jquery */

.countdown {
  padding: 60px 0;
  background-color: #000;
}
.countdown .section-title {
  color: #fff;
  text-align: center;
  background-color: transparent;
  border-bottom: none;
}
@media (min-width: 768px) {
  .countdown .section-title {
    text-align: right;
    margin: 0;
  }
}

.is-countdown {
  border: 1px solid transparent;
  background-color: #000;
  color: #fff;
}

.countdown-rtl {
  direction: rtl;
}

.countdown-holding span {
  color: #888;
}

.countdown-row {
  clear: both;
  width: 100%;
  padding: 0px 2px;
  text-align: center;
}

.countdown-show1 .countdown-section {
  width: 98%;
}

.countdown-show2 .countdown-section {
  width: 48%;
}

.countdown-show3 .countdown-section {
  width: 32.5%;
}

.countdown-show4 .countdown-section {
  width: 24.5%;
}

.countdown-show5 .countdown-section {
  width: 19.5%;
}

.countdown-show6 .countdown-section {
  width: 16.25%;
}

.countdown-show7 .countdown-section {
  width: 14%;
}

.countdown-section {
  display: block;
  float: left;
  font-size: 75%;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2.7px;
}

.countdown-amount {
  font-size: 200%;
  border-bottom: 2px solid #262626;
  padding-bottom: 10px;
}

.countdown-period {
  margin-top: 20px;
  display: block;
}

.countdown-descr {
  display: block;
  width: 100%;
}

@media (min-width: 768px) {
  /*Row display middle*/
  .countdown .row {
    display: table;
  }
  .countdown [class*="col-"] {
    float: none;
    display: table-cell;
    vertical-align: middle;
  }
}

body.no-scroll {
  overflow: hidden;
}

modal-window {
  display: none;
  position: fixed;
  z-index: 1050;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

modal-window:after {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  background: rgba(255, 255, 255, 0.8);
}

modal-window.open {
  display: block;
}

.modal-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url(/assets/images/backgrounds/detroit.jpg) no-repeat center center/cover;
}

.modal-content {
  position: relative;
  width: 80%;
  height: 85vh;
  max-width: 65em;
  margin: 10vh auto;
  background: rgba(25, 38, 50, 0.9);
  color: #ddd;
  padding: 2em;
  z-index: 1;
  overflow-x: hidden;
  overflow-y: auto;
}

.modal-content .section-title {
  color: #eee;
}

@media (max-width: 812px) {
  .navbar-header {
    margin: 0 auto!important;
    text-align: center;
    padding-top: 10px;
  }
  .site-branding {
    float: none;
    margin: 0;
  }
  .site-branding .logo {
    margin-right: 0;
    display: block;
  }
  .site-branding .logo span {
    display: block;
  }
  .navbar-toggle {
    position: absolute;
    top: 10px;
    right: 3px;
  }
  .navbar-custom {
    padding: 0;
    width: 100%;
    position: fixed;
    top: 0;
  }
  .modal-content {
    width: 86vw;
    margin: 20px auto;
  }
  modal-window {
    overflow: scroll;
    max-height: 90vh;
    background-color: #d5d7d8;
  }
  modal-window .speaker img {
    width: 30vw;
  }
}
